<table class="table table-striped">
	<thead>
		<tr>
			<th><a ng-click="reverse=!reverse;predicate='name'">Name</a></th>
			<th><a ng-click="reverse=!reverse;predicate='talk'">Talk - Total: {{events.length}}</a></th>
			<th><a ng-click="reverse=!reverse;predicate='date'">Date</a></th>
      		<th>Links</a></th>
		</tr>
		<tr>
			<th><input type="text" ng-model="search.name" class="form-control" placeholder="Name"></th>
			<th><input type="text" ng-model="search.talk" class="form-control" placeholder="Talk"></th>
		</tr>
	</thead>
	<tr ng-repeat="row in events | filter:search | orderBy:predicate:reverse">
		<td nowrap="nowrap">{{row.name}}</td>
    <td>{{row.talk}}</td>
    <td nowrap="nowrap">{{row.date}}</td>
    <td nowrap="nowrap">[
      <any ng-repeat="(k,v) in row.links">
        <any ng-if="!$first"> | </any>
        <a href="{{v}}" target="_blank">{{k}}</a>
      </any> ]
    </td>
	</tr>
</table>
