<div class="row">
    <div class="col-lg-4">
        <div class="thumbnail">
            <img src="/img/tdc_2016_floripa.jpg" title="Presenting about apache camel on TDC Floripa - 2016"/>
        </div>
    </div>
    <div class="col-lg-8">
        <div class="panel panel-default">
            <div class="panel-heading">About me</div>
            <div class="panel-body">
              I like to describe myself as a tech lead, an intersection of three other roles: a developer, a leader and an architect (<a href="https://www.thekua.com/atwork/2015/06/tech-lead-circles-of-responsibility/">reference</a>).<br/>
              My technical background is on Java / Groovy, currently working with Node, trying to migrate to functional (Scala? Clojure? Elixir?).<br/>
              Regarding personality, you can check it <a href="https://www.talentoday.com/users/marcelo-adamatti/personality">here</a>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">Languages</div>
            <div class="panel-body">
              Portuguese (the one from Brazil) is my native language, and I consider I have a good English level. <br/>
              I have 10 years experience working with global teams. Yea, Business/Analysts/Testers/Developers all around the globe.
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">Personal Details</div>
            <div class="panel-body">
                Birthday: 07/28/1982<br/>
                Marital Status: Married<br/>
                Living at <a href="https://www.google.com/maps/place/Cachoeirinha,+RS/@-29.9152123,-51.1651469,12z/data=!3m1!4b1!4m5!3m4!1s0x9519722abb5e0dab:0x30b08253f7d32c93!8m2!3d-29.9477228!4d-51.1021166">Cachoeirinha/RS (Brazil)</a>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">Why this page?</div>
            <div class="panel-body">
                ... and not linkedin / about.me / other? <br/>
                Because about.me wants to make money and removed all the nice features from free plan. <br/>
                Microsoft acquired LinkedIn, who knows for how long it will still the same. <br/>
                And I wanted to customize the informations about me.
            </div>
        </div>
    </div>
</div>
