<div class="row">
    <div class="col-lg-4">
        <div class="thumbnail">
            <img src="/img/tdc_2018_poa.png" title="Presenting on TDC Porto Alegre - 2018"/>
        </div>
    </div>
    <div class="col-lg-8">
        <div class="panel panel-default">
            <div class="panel-heading">About me</div>
            <div class="panel-body">
              Dad, geek / gamer, pragmatic, software craftsmanship, tech lead (<a href="https://www.thekua.com/atwork/2015/06/tech-lead-circles-of-responsibility/">check this definition</a>), <a href="/#/events">speaker on technical events</a>.<br/>
              Loves functional programming, clean architecture / engineer principles, learn new ways to do things.<br/>
              <br/>
              Regarding personality, you can check it <a href="https://www.talentoday.com/users/marcelo-adamatti/personality">here</a>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">Languages</div>
            <div class="panel-body">
              Portuguese (the one from Brazil) is my native language, and I consider I have a good English level. <br/>
              I have 10 years experience working with global teams. Yea, Business/Analysts/Testers/Developers all around the globe.
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">Personal Details</div>
            <div class="panel-body">
                Birthday: 07/28/1982<br/>
                Marital Status: Married<br/>
                Living at <a href="https://pt.wikipedia.org/wiki/Canoas">Canoas/RS (Brazil)</a>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">Why this page?</div>
            <div class="panel-body">
                ... and not linkedin / about.me / other? <br/>
                Because about.me wants to make money and removed all the nice features from free plan. <br/>
                Microsoft acquired LinkedIn, who knows for how long it will still the same. <br/>
                And I wanted to customize the informations about me.
            </div>
        </div>
    </div>
</div>
