<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#home">Marcelo Adamatti</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li><a href="#home">Home</a></li>

                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Experience<span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="#jobs">Jobs (grid view)</a></li>
                        <li><a href="#jobs-seq">Jobs (sequencial view)</a></li>
                        <li><a href="#projects">Projects</a></li>
                        <li><a href="#skills">Skills</a></li>
                        <li><a href="#awards">Awards</a></li>
                        <li><a href="#education">Education</a></li>
                        <li><a href="#certifications">Certifications</a></li>
                        <li><a href="#events">Events</a></li>
                    </ul>
                </li>

                <li><a href="#links">Links</a></li>
                <li><a href="/printVersion.html">Print</a></li>

            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="https://adamatti.github.io/blog">Blog</a></li>
                <li><a href="https://github.com/adamatti" class="fa fa-github" title="Github"></a></li>
                <li><a href="http://www.linkedin.com/in/adamatti" class="fa fa-linkedin" title="LinkedIn"></a></li>
                <li><a href="https://www.facebook.com/marcelo.adamatti" class="fa fa-facebook" title="Facebook"></a></li>
                <li><a href="http://twitter.com/adamatti" class="fa fa-twitter" title="Twitter"></a></li>
                <li><a href="http://youtube.com/adamatti" class="fa fa-Youtube" title="Youtube"></a></li>
                <li><a href="mailto:adamatti@gmail.com" class="fa fa-envelope" title="Email"></a></li>
            </ul>
        </div><!--/.nav-collapse -->
    </div><!--/.container-fluid -->
</nav>
