<div ng-init="printVersion=true"/>
<h1>Marcelo Adamatti - <a href="mailto:adamatti@gmail.com">adamatti@gmail.com</a></h1>

<h4>Summary</h4>
<ul>
<li>Software Engineer. 10 years as tech lead, software engineer since 2000</li>
<li>Personal: Birthday: 07-28-1982 / Marital Status: Married / Living at <a href="https://www.google.com/maps/place/Canoas+-+RS">Canoas/RS (Brazil)</a></li>
</ul>

<h4>Experience</h4>
<ul>
  <li ng-repeat="job in jobs" ng-if="job.period.from.year >= 2008 && job.show !== false">
    <b><a href="{{job.company.url}}">{{job.company.name}}</a></b> - {{job.title}}</b> - 
      {{job.period.from.month}} {{job.period.from.year}} - {{job.period.to ? job.period.to.month + ' ' + job.period.to.year : 'current'}} 
      ({{ job.period.dateDiff() }})
    <br ng-if="job.description"/>
    <div ng-bind-html="job.description"></div>
    <div ng-if="job.projects">
      <b>Projects</b>:
      <ul>
        <li ng-repeat="project in job.projects">
          {{project.title}} - {{project.description}}. <b>Keywords:</b> {{project.keywords.join(", ")}}</li>
      </ul>
    </div>
  </li>
</ul>

<h4>Languages</h4>
<ul>
<li>Portuguese - Native Language</li>
<li>English - Professional working proficiency</li>
</ul>

<h4>Skills</h4>
<div ng-include="'/old/templates/skills.html'"></div>

<h4>Education</h4>
<ul>
<li ng-repeat="row in educations | filter: {showForPrint: true}">
  <b>{{row.school}}</b> - {{row.title}}<br/>
  <div ng-bind-html="row.description"></div>
</li>
</ul>

<h4>Links</h4>
<ul>
  <li ng-repeat="row in links | filter: {showForPrint:true} | orderBy: 'title'">
    {{row.title}}: <a href="{{row.url}}">{{row.url}}</a>
  </li>
</ul>
